body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #000000;
    font-family: "Source Code Pro", monospace;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

input[type="file"] {
    margin: 20px 0;
}

.result {
    margin-top: 20px;
    font-size: 1.2em;
}

.detect{
    background-color: #000000;
    /* margin-top : 20px; */
    padding: 15px 50px;
    border-radius: 5px;
    border : none;
    color : white;
    font-size: large;
}

.detect:hover{
    background-color: rgb(0, 0, 0);


}

#resultDiv {
    display: flex;
    justify-content: center;  
    align-items: center;      
}

#generatedImage {
    max-width: 100%;         
    height: auto;             
    display: block;          
    margin: 0 auto;    
}

/* #imageInput{

} */


#modelTag {    
    font-weight: 600; 
    text-transform: uppercase; 
    padding: 15px 20px;

    /* text-decoration: none; */
    border: none;
    background-color: #f8f9fa;
    border-bottom: 1px solid #000000;
    padding: 1px 25px;
    font-size: 30px;
    
    /* border-bottom: 2px solid #FFFFFF;  */
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);  */

}

#header {
    border-bottom: 1px solid #636363; 
}